<h1 class="text-center">Home Form</h1>

<form>
  Enter your details below.
  <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="Enter your name">
  <br>
  
  <input type="number" placeholder="Enter your employee id" class="form-control" name="empid" [(ngModel)]="empid">
  <br>

  <input type="number" placeholder="Enter your mobile number" class="form-control" name="mob" [(ngModel)]="mob">
  <br>


  <input type="button" id="submit" (click)="submits()" value="Submit" class="btn btn-success">
</form>
